# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

  <?xml version="1.0" encoding="utf-8" ?>
    <configuration>
     <appSettings>
      <add key="username" value="bmroberts1987"/>
      <add key="password" value="brandonroberts87"/>
      <add key="token" value= "76a2a999588452a1cb8a9a20c33e3132bfd16e62"/>
      </appSettings>
  </configuration>
